* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  color: #000;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  position: relative;
  z-index: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  min-height: 100vh;
  position: relative;
  .title {
    font-size: 210px;
    font-weight: 700;
    position: absolute;
    padding-top: 110px;

    &--pod {
      position: relative;
      z-index: -1;
    }

    &--s {
      display: inline-block;
      transform: translateY(60px);
    }

    &--m {
      display: inline-block;
      transform: translate(-57px, 275px);
    }

    &--ax {
      display: inline-block;
      transform: translate(-132px, 413px);
      position: relative;
      z-index: -1;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;

    .menu__list {
      display: flex;
      align-items: center;
      gap: 40px;
      font-weight: 700;
    }

    .menu__btn {
      padding: 15px 58px;
      font-weight: 700;
      color: #ffffff;
      background-color: #000000;
      border-radius: 30px;
      text-transform: uppercase;
    }
  }

  &__content-images {
    text-align: center;
    padding-bottom: 50px;
    width: 100%;
  }

  .header__content-images::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -2;
  }
}

.header__content-images:has(.color--blue.content-item__active)::before {
  background: linear-gradient(
    180deg,
    rgb(202, 219, 235),
    rgba(235, 235, 235, 0) 100%
  );
}

.header__content-images:has(.color--red.content-item__active)::before {
  background: linear-gradient(
    180deg,
    rgb(243, 214, 209),
    rgba(235, 235, 235, 0) 100%
  );
}

.header__content-images:has(.color--green.content-item__active)::before {
  background: linear-gradient(
    180deg,
    rgb(221, 234, 217),
    rgba(235, 235, 235, 0) 100%
  );
}

.header__content-images:has(.color--white.content-item__active)::before {
  background: linear-gradient(
    180deg,
    rgb(250, 250, 250),
    rgba(235, 235, 235, 0) 100%
  );
}

.header__content-images:has(.color--black.content-item__active)::before {
  background: linear-gradient(
    180deg,
    rgb(182, 182, 182),
    rgba(235, 235, 235, 0) 100%
  );
}

.content-item {
  display: none;

  &__active {
    display: inline-block;
  }
}

.choose-color {
  padding: 45px 0 180px;
  text-align: center;

  &__title {
    font-size: 36px;
    font-weight: 700;
    max-width: 555px;
    margin: 0 auto 20px;
  }

  &__text {
    max-width: 555px;
    margin: 0 auto 80px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }

  &__btn {
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    padding: 50px 55px;
  }
}

.choose-color__btn--active {
  display: none;
}

.main__title {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.composition {
  padding-bottom: 180px;
  &__text {
    text-align: center;
    max-width: 655px;
    margin: 0 auto 40px;
  }

  &__description {
    max-width: 625px;
    margin: auto;
    display: flex;
    justify-content: space-between;

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 15px;
      width: 231px;
    }
  }
}

.case {
  background-color: #fafafa;
  padding: 80px 0 100px;
  text-align: center;

  &__text {
    max-width: 825px;
    margin: 0 auto 40px;
  }

  .energy__title {
    margin: 160px auto 40px;
  }

  .energy__num {
    font-size: 210px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  .energy__text {
    max-width: 400px;
    margin: auto;

    span {
      text-decoration: underline;
    }
  }
}

.audio {
  position: relative;
  &__inner {
    min-height: 200vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  &__box {
    color: #ffffff;
    text-align: center;
    padding-bottom: 33vh;
  }

  &__text {
    max-width: 300px;
    margin-bottom: 20px;
  }

  .btn {
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
    background-color: #fff;
    padding: 15px 58px;
    border-radius: 30px;
    margin-top: 15px;
  }
}

.audio::before {
  content: "";
  background-image: url(../img/audio-bg.jpeg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.audio::after {
  content: "";
  position: absolute;
  background-image: url(../img/audio-sound.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  bottom: -250px;
  width: 100%;
  height: 160vh;
  left: 0;
  right: 0;
  z-index: -1;
}

.footer {
  position: relative;
  z-index: -2;
  padding: 250px 0 40px;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-weight: 700;

  &__text {
    margin: 20px 0;
  }

  .container {
    margin-top: 50px;
  }

  &__list {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
}

@media (max-width: 1469px) {
  .header {
    .title {
      font-size: 180px;
      transform: translate(130px, 29px);
    }
  }
}

@media (max-width: 1350px) {
  .header {
    .title {
      transform: none;
      font-size: 140px;
      padding-top: 20vh;
      left: 0;
      right: 0;
      text-align: center;
      &--s {
        transform: none;
      }

      &--m {
        transform: none;
      }

      &--ax {
        transform: none;
      }
    }
  }
}

@media (max-width: 931px) {
  .header {
    .title {
      position: relative;
      font-size: 100px;
      padding-top: 0;

      &--s {
        text-transform: lowercase;
      }
      &--m {
        padding-left: 15px;
      }
    }
  }
}

@media (max-width: 768px) {
  .choose-color {
    padding-bottom: 60px;
  }

  .main__title {
    font-size: 36px;
  }

  .composition {
    padding-bottom: 60px;
  }

  .case {
    padding: 60px 0;

    .energy__title {
      margin-top: 60px;
      margin-bottom: 20px;
    }

    .energy__num {
      font-size: 110px;
      margin-bottom: 20px;
    }
  }

  .choose-color {
    &__list {
      gap: 16px;
    }
  }
}

@media (max-width: 560px) {
  .choose-color {
    padding-bottom: 40px;
    &__text {
      margin-bottom: 40px;
    }
  }

  .case {
    padding: 40px 0;
  }

  .composition {
    &__description {
      width: 100%;
      gap: 15px;
    }
  }
}
